<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.mapper.UserMapper">

	<select id="login" parameterType="user"
		resultType="com.chinasoft.pojo.User">
		select * from user where name =#{name} and password
		=#{password}
	</select>
	
	<insert id="registered" useGeneratedKeys="true" keyProperty="uid"
		parameterType="com.chinasoft.pojo.User" >
		insert into user (name,phoneNumber,password,avatar,fans,focus,getLike,admin,address) values
		(#{name},#{phoneNumber},#{password},#{avatar},#{fans},#{focus},#{getLike},#{admin},#{address})
	</insert>
	
	<select id="findOneUserById" parameterType="java.lang.Number"
		resultType="com.chinasoft.pojo.User">
		select * from user where uid =#{uid} 
	</select>
	
	<select id="findOneUserByName" parameterType="java.lang.String"
		resultType="com.chinasoft.pojo.User">
		select * from user where name =#{name} 
	</select>
	
	<select id="findOneUserByNumber" parameterType="java.lang.String"
		resultType="com.chinasoft.pojo.User">
		select * from user where phoneNumber =#{phoneNumber} 
	</select>
	
	<update id="changePassword"
		parameterType="com.chinasoft.pojo.User">
		update user set password=#{password} where uid=#{uid}
	</update>
	
	<update id="changeAddress"
		parameterType="com.chinasoft.pojo.User">
		update user set address=#{address} where uid=#{uid}
	</update>
	
	<update id="changeAvatar"
		parameterType="com.chinasoft.pojo.User">
		update user set avatar=#{avatar} where uid=#{uid}
	</update>
	
	
	<delete id="deleteUser"  >
		delete from user where uid=#{uid}
    </delete>
	
	<update id="changeUser" 
		parameterType="com.chinasoft.pojo.User">
			update user set name=#{name},phoneNumber=#{phoneNumber},password=#{password},avatar=#{avatar},fans=#{fans},focus=#{focus},getLike=#{getLike},admin=#{admin}, address=#{address}  
			where uid=#{uid}
	</update>
	
	<select id="findAllUser" 
		resultType="com.chinasoft.pojo.User">
		select * from user
	</select>
     
    <update id="UploadPhoto"
		parameterType="com.chinasoft.pojo.User">
		update user set regPhoto=#{regPhoto}    
		where id=#{id}
	</update>
</mapper>